body {
    font-family: 'Roboto', sans-serif;
}

#tabla1 {
    color: rgb(51, 51, 49);
    font-size: 18px;
    text-indent: 50px;
    border: 1px solid #ffffff;
    background-color: rgb(255, 255, 255);
    width: 920px;
    height: 800px;
    margin-left: 217px;
    border-radius: 6px;
}

#tabi1 {
    font-size: 17px;
}

#tabi2 {
    color: rgb(51, 51, 49);
    font-size: 15px;
}

#inp {
    width: 400px;
    height: 50px;
    border-style: inset;
    outline: 0;
    font-size: 30px;
    font-family: monospace;
    padding: 0px 10px;
    border-radius: 6px;
}

#opt {
    width: 400px;
    height: 55px;
    border-style: inset;
    font-size: 20px;
    font-family: monospace;
    padding: 0px 10px;
    border-radius: 6px;
}

#bor {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(43, 100, 185);
    border-radius: 6px;
    width: 160px;
    height: 55px;
    cursor: pointer;
}

#tabi3 {
    text-indent: 50px;
}

#centrarBlu {
    text-indent: 80px;
    position: absolute;
    background-color: 01579B;
    color: white;
    width: 1335px;
    height: 50px;
}

#af0 {
    color: rgb(43, 100, 185);
    font-size: 17px;
    text-indent: 235px;
    position: absolute;
}

#fin {
    width: 400px;
    height: 50px;
    background-color: #F5F5F5;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    position: relative;
    left: 450px;
}

#desc {
    width: 400px;
    height: 50px;
    background-color: #F5F5F5;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    position: relative;
    left: 450px;
}

#pdf {
    position: relative;
    top: 8px;
    left: 72px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(43, 100, 185);
    border-radius: 6px;
    width: 160px;
    height: 35px;
    cursor: pointer;
}

#res {
    position: relative;
    top: 15px;
    font-size: 18px;
    text-indent: 138px;
}

#af {
    float: left;
    margin-left: 80px;
    position: absolute;
    width: 140px;
    height: 45px;
}

#perso {
    color: rgb(51, 51, 49);
    font-size: 25px;
    margin-left: 217px;
}

#perso2 {
    font-size: 17px;
    margin-left: 217px;
}